/*CSS基本構造
selector{
    propaty: value
    参考サイト:https://saruwakakun.com/html-css/reference/selector*/


/*h1のサイズと色*/
h1 {
    width: 50%;
    font-size: 40px;
    color: rgb(241, 0, 0);
}

td {
    /*水平方向を中央揃え*/
    text-align: center;
}

.Back {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 25px solid red;
}

/*1つ目の画像*/
.small {
    width: 500px;
    height: 500px;
    display: block;
    margin-bottom: 10px;
}

/*水色の見出し*/
.Bigletters {
    line-height: 2px;
    font-size: 40px;
    color: lightblue;
}


.sidebar {
    position: sticky;
    top: 0;
    padding: 0;
    float: right;
    width: 200px;
    padding: 10px;
    background-color: white;
}