/*CSS基本構造
selector{
    propaty: value
    参考サイト:https://saruwakakun.com/html-css/reference/selector*/

/*h1のサイズと色*/
h1 {
    font-size: 40px;
    color: rgb(241, 0, 0);
}

/*1つ目の画像*/
.small {
    width: 100px;
    height: 100px;
}

td {
    /*水平方向を中央揃え*/
    text-align: center;
}