/*CSS基本構造
selector{
    propaty: value
    参考サイト:https://saruwakakun.com/html-css/reference/selector*/


h1 {
    /*幅とフォントのサイズ，色*/
    width: 50%;
    font-size: 40px;
    color: rgb(241, 0, 0);
}

.container {
    /*要素を横並びにする*/
    display: flex;
    justify-content: space-between;
}

.sidebar-R,
.sidebar-L {
    width: 200px;
}

.centered {
    text-align: left;
}

td {
    /*水平方向を中央揃え*/
    text-align: center;
}

.Back {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-bottom: 25px solid red;
}

/*1つ目の画像*/
.small {
    width: 500px;
    height: 500px;
    display: block;
    margin-bottom: 10px;
}

/*水色の見出し*/
.Bigletters {
    line-height: 2px;
    font-size: 40px;
    color: lightblue;
}

/*多分いらなくなりそう*/
.sidebar-another {
    position: sticky;
    top: 0;
    padding: 0;
    float: right;
    width: 200px;
    background-color: white;
}

.abc {
    display: flex;
    justify-content: space-between;
}